<div class="wrapper">
  <div class="profile-page">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="profile-picture-box">
          <% if @user.photo_url %>
            <%= cl_image_tag(@user.photo, gravity: :face, class: "profile-image") %>
          <% else %>
            <%= cl_image_tag("cuh9onauglwqnn7tdvje", gravity: :face, class: "profile-image") %>
          <% end %>
        </div>
        <p class="profile-title">Statistics</p>
        <p class="profile-regular">Products: <%= @products.length - @accepted_offers.length %></p>
        <p class="profile-regular">Sales: <%= @sales %></p>
        <p class="profile-regular">Acceptance rate: <%= @acceptance_rate * 100 %></p>
        <p class="profile-title">Latest products</p>
        <% @products.first(3).each do |product| %>
          <%= link_to product_path(product), class: "profile-link" do %>
            <p class="profile-bold"><%= product.name.capitalize %></p>
          <% end %>
          <div class="profile-product-info">
            <p class="profile-regular"><%= product.category.capitalize %></p>
            <p class="profile-regular">$<%= product.price %></p>
          </div>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="right-col">
          <span class="profile-name"><%= @user.first_name %> <%= @user.last_name %> </span>
          <span class="profile-district"> <i class="fas fa-map-marker-alt"></i> <%= @user.district.capitalize %>, Montreal QC</span>

          <p class="profile-regular bigger" id="rating">Ratings</p>
          <div id="stars">
            <i class="fa fa-star fa-fw purple"></i>
            <i class="fa fa-star fa-fw purple"></i>
            <i class="fa fa-star fa-fw purple"></i>
            <i class="fa fa-star fa-fw purple"></i>
            <i class="fa fa-star fa-fw grey"></i>
            (4/5)
          </div>
          <p class="profile-lighter bigger"><i class="fas fa-envelope"></i> &nbsp <%= @user.email %></p>
          <p class="profile-lighter bigger" id="phone_number"><i class="fas fa-phone"></i> &nbsp <%= @user.phone_number %></p>
          <div class="white-box" id="comments">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @is_current_user %>
    <%= render 'private_content', user: @user, offers: @offers %>
  <% end %>
</div>
