<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="white-box">
        <h3><%= @product.name %></h3>
      </div>
      <div class="white-box">
        <% if @product.photo_url %>
          <div class="product-image large-image" style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('<%= cl_image_path @product.photo %>'"></div>
        <% else %>
          <div class="product-image large-image" style="background-image:linear-gradient(-225deg, rgba(0,0,0,0.4), rgba(0,0,0,0)), url('https://picsum.photos/800/500?image=20')"></div>
          <% end %>
      </div>
      <div class="white-box">
        <p class="description"><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Price:</strong> $<%= @product.price %></p>
        <p><strong>Category:</strong> <%= @product.category.capitalize %></p>
        <div>
        <% if policy(@product).edit? %>
          <%= link_to "Edit", edit_product_path(@product) %>
        <% end %>
        <% if policy(@product).destroy? %>
          <%= link_to "Delete", product_path(@product), url_options = {method: :delete} %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="white-box about-desc">
        <%= cl_image_tag @product.user.photo, { class: "avatar" } %>
        <h3>About <%= @product.user.first_name.capitalize %></h3>
        <p><strong>District:</strong> <%= @product.user.district.capitalize %></p>
        <p><strong>Email address:</strong> <%= @product.user.email %></p>
        <p><strong>Phone number:</strong> <%= @product.user.phone_number %></p>
      </div>

      <% unless @product_owner %>
        <% if @offer_accepted %>
          <div class="white-box">
            <h3>Offer accepted</h3>
            <%= render '/shared/offerdesc', offer: @offer_accepted %>
          </div>
        <% elsif @product_sold %>
          <div class="white-box">
            <p style="margin-bottom: 0">Product sold</p>
          </div>
        <% elsif @offer_sent %>
          <div class="white-box">
            <h3>Offer sent</h3>
            <%= render '/shared/offerdesc', offer: @offer_sent %>
            <%= link_to "Remove offer", product_offer_path(@product, @offer_sent), url_options = {method: :delete} %>
            <%= link_to "Edit offer", edit_product_offer_path(@product, @offer_sent) %>
          </div>
        <% else %>
          <div class="white-box">
            <h3>Send an offer</h3>
            <% offer = Offer.new %>
            <%= simple_form_for [@product, offer] do |f| %>
              <%= f.input :price %>
              <%= f.input :description %>
              <p id="count-offer">500 characters remaining</p>
              <%= f.submit class: 'main-btn' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
